<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css"> 
    <script src="https://kit.fontawesome.com/24ebea2933.js" crossorigin="anonymous"></script>
    <title>Home page</title>
</head>
<body>
    <header>
        <img src="../img/logo_small.svg">
    </header>
    <div class="base-container">

        <nav>
            <ul>
                <li class="button">
                    <i class="fas fa-home"></i>
                    <a href="#">Home page</a>
                </li>
                <li class="button">
                    <i class="fas fa-plus"></i>
                    <a href="#">New room</a>                   
                </li>
                <li class="button">
                    <i class="fas fa-plus"></i>
                    <a href="#">New bill</a>              
                </li>
                <li class="button">
                    <i class="fas fa-user-friends"></i>
                    <a href="#">Rooms</a>                 
                </li>
                <li class="button">
                    <i class="fas fa-money-bill"></i>
                    <a href="#">Bills</a>
                </li>
                <li class="button">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </li>
            </ul>
        </nav>
        <main>
            <section class="lastBils">
                Last Bills
                <ul>
                    <li class="button"></li>
                </ul>
            </section>
            <section class="lastRooms">
                Last Rooms
                <div class="headerlastRooms"></div>
            </section>
        </main>
    </div>

</body>